/* html {
    font-family: Helvetica, Arial, sans-serif;
} */

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (min-width: 1560px) {
    html {
        font-size: 20px;
    }
}